<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"> </script>
</head>
<body>
    {{>header}}
    <img src="https://4.bp.blogspot.com/-iVcay3zKoB8/UuY87Bsp0oI/AAAAAAAASco/gWzFKSiH9xo/s1600/natural-wallpaper-free-hd.jpg">
     {{>footer}} 
</body>
