<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"> </script>
</head>
<body>
    {{>header}}
    <p>this site is created by arun kumar</p>
    <P>this page contain datas from mapbox and weather stack pages</P>
     {{>footer}} 
</body>
