<!DOCTYPE html>
<html>
    <head> 
    <title>weather4u</title>
    <link rel="icon" href="/image/icon.jpg">
     <link rel="stylesheet" href="/css/style.css">
     <link href="https://fonts.googleapis.com/css?family=Girassol|Lobster&display=swap" rel="stylesheet">
     </head>

    <body>  
        <div class="x">
        {{>header}} 
        <form>
            <P> know your weather</P>
       <label for="x" class="t">type your location </label>
       <input id="x" type= "text" placeholder="location" required>
       <br>
       <button>search </button>
       </form>
       <p id="message-1"></p>
       <p id="message-2"></p>
       {{>footer}}
        <script src="/js/app.js"> </script>
    </body>
</html>