<!DOCTYPE html>
<html>
    <head> 
    <title>index</title>
    <link rel="icon" href="/image/a.jpg">
     <link rel="stylesheet" href="/css/style.css">
     </head>

    <body>  
        <div class="x">
        {{>header}} 
        <form>
            <P> get your weather right here</P>
       <label for="x">type your location </label>
       <input id="x" type= "text" placeholder="location" required>
       <br>
       <button>search </button>
       </form>
       <p id="message-1"></p>
       <p id="message-2"></p>
       {{>footer}}
        <script src="/js/app.js"> </script>
    </body>
</html>